[Desktop Entry]
Name=Nexon Game Manager
Exec=NGM_LAUNCH_PATH/ngm-launch.sh %u
Type=Application
MimeType=x-scheme-handler/ngm;
NoDisplay=true
StartupNotify=false
